  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue, sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: rgb(21, 21, 20);
    display: flex;
    display: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 2;
}

#logo h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    font-weight: 700;
    color: #d2f20c;    
}

#logo h1:hover {
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
}    

header #logo h1 span {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}

header #secoes {
    display: flex;
    font-size: 0.5rem;
    font-weight: 100;
}

header #secoes h2 {
    padding: 2rem;
    color: rgb(138, 138, 138);
}
header #secoes h2:hover {
    cursor: pointer;
    color: #d2f20c;
    transition: 0.2s;
}

header #login-singin {
    display: flex;
    justify-content: space-between;
}

header #login-singin i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    margin: 2rem;
    border: none;
    border-radius: 15px;
    color: #d2f20c
}

header #login-singin i:hover {
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

@media (min-width:2560px) {
    header #logo h1 {
        font-size: 3rem;
    }

    header #logo h1 span {
        font-size: 2.2rem;
    }

    header #secoes {
        font-size: 0.7rem;
    }

    header #login-singin i {
        font-size: 2rem;
    }
}

@media (max-width: 1100px) {

    header {
        justify-content: space-around;
    }

    header #secoes {
        display: none;
    }

}
@media (min-width: 1100px) {
    header #login-singin #sections {
        display: none;
    }
}

@media (max-width:425px) {

    header {
        justify-content: center;
    }
    header #logo h1 {
        font-size: 5rem;
        display: flex;
        flex-direction: column;
    }

    header #logo h1 span {
        font-size: 2.5rem;
    }
    header #secoes {
        display: none;
    }

    header #login-singin {
        display: none;
    }
}