  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bebas Neue, sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 32, 30);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 12px;
    margin-top: 17px;
    margin-left: 50px;
    padding: 12px;
    justify-content: center;
    color: #d2f20c;    
}
header h1:hover {
    cursor: pointer;
    color: #d5e280;
    transition: 0.2s;
}    

header h1 span {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    font-weight: 700;
}

header #secoes {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    margin: 20px;
    padding: 10px;
    font-weight: 100;
}

header #secoes h2 {
    padding: 26px;
    color: rgb(138, 138, 138);
}
header #secoes h2:hover {
    cursor: pointer;
    color: #d2f20c;
    transition: 0.2s;
}

header #login-singin {
    margin-top: 30px;
    margin-right: 55px;
}

header #login-singin button {
    margin: 12px;
    padding: 10px;
    width: 80px;
    height: 30px;
    font-size: 11px;
    font-weight: 700;
    border: none;
    background-color: #d2f20c;
    border-radius: 15px;
    font-weight: 600;
    font-weight: bold;
    color: rgb(34, 32, 32);
}

header #login-singin button:hover {
    background-color: #b1c913;
    color: rgb(68, 62, 62);
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

@media (max-width: 768px) {
    
}

